@font-face {
    font-family: 'share_tech_monoregular';
    src: url('../fonts/sharetechmono-regular-webfont.woff2') format('woff2'),
         url('../fonts/sharetechmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    //box-sizing: border-box;
}

body {
    //height: 100%;
    max-height: 100%;
    //background: #1a1a1a;
    background: #fff;
    color: #000;
    overflow-y: scroll;
}

#homepage-content {
    padding-left: 300px;
    padding-top: 200px;
}

#list-content {
    padding-left: 300px;
    padding-top: 200px;
}

#nav {
    font-family: verdana, helvetica;
    font-size: 36px;
    background: #fff;
    color: #000;
    padding-left: 300px;
    height: 50px;
}

#nav a {
    text-decoration: none;
    color: #000;
}

#nav a.hover {
    text-shadow: 2px 2px 4px #000;
}
